//COMPONENTS TO EXTEND CSS

//flex components | add more as we need them
.flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
    //effects horizontal alignment because the parent's flex-direction is set to column.  if flex direction was row, than this value would impact the opposite!!!
    //https://stackoverflow.com/questions/35049262/difference-between-justify-content-vs-align-items
}

//animation ready 

.trans {
    transition: 0.3s;
}

//heading elements

h6 {
    font-size: 1rem;
}

h5 {
    font-size: 1.50rem;
}

h4 {
    font-size: 2rem;
}

h3 {
    font-size: 3rem;
}

h2 {
    font-size: 4rem;
}

h1 {
    font-size: 5rem;
}

.border {
    border: solid 1px darkolivegreen;
}

.border-btm {
    border-bottom: solid 1px darkolivegreen;
}

.border-white {
    border: solid 1em white;
}

.shadow-inset {
    //mixin
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.shadow-fall {
    //mixin
    -webkit-box-shadow: inset 0px 117px 60px -119px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 117px 60px -119px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 117px 60px -119px rgba(0, 0, 0, 1);
}

.shadow-box {
    //mixin
    -webkit-box-shadow: 0 15px 25px rgba(51, 51, 51, .15);
    -moz-box-shadow: 0 15px 25px rgba(51, 51, 51, .15);
    box-shadow: 0 15px 25px rgba(51, 51, 51, .15);
}

.fweight-bold {
    font-weight: bold;
}

.fweight-400 {
    font-weight: 400;
}

.fweight-500 {
    font-weight: 500;
}

.fweight-800 {
    font-weight: 800;
}

.fsize-1 {
    font-size: 1rem;
}

.fsize-15 {
    font-size: 1.5rem;
}

.fsize-2 {
    font-size: 2rem;
}

.fsize-125 {
    font-size: 1.25rem;
}

.fsize-13 {
    font-size: 1.3rem;
}

.fsize-175 {
    font-size: 1.75rem;
}

.ffam-arial {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
}

.fstyle-italic {
    font-style: italic;
}

.txt-red {
    color: #d81e06;
}

.txt-orange {
    color: chocolate;
}

.txt-white {
    color: white;
}

.txt-grey {
    color: #888;
}

.txt-grey-dark {
    color: #333;
}

.txt-dec-white {
    text-decoration-color: white;
}

.bg-azure {
    background-color: azure;
}

.bg-grey {
    background-color: #666;
}

.bg-grey-dark {
    background-color: #333;   
}

.bg-red {
    background-color: #d81e06;
}

.bg-penguin {
    background-color: #f4f3ec;
}

.border-red {
    border-color: #d81e06;
}

.border-grey03 {
    border-color: rgba(255, 255, 255, 0.1);
}

.hover-red {
    &:hover {
        background-color: #901404;
        text-decoration-color: #901404;
    }
}

.hover-dark {
    &:hover {
        color:white;
        background-color:#901404;
    }
}

.hover-txt-red {
    &:hover {
        color: #d81e06; //scss var
    }
}

.hover-child-goldenrod {
    &:hover {
        span {
            border-color: goldenrod; //scss var
        }
    }
}

.active-border-white {
    &:active {
        border-color: white;
    }
}

.active-red {
    &:active {
        color: #d81e06;
    }
}

.active-txt-red {
    &:active {
        color: #d81e06; //scss var
    }
}

.m-sm {
    margin: 1em;
}

.m-md {
    margin: 2em;
}

.m-lg {
    margin: 3em;
}

.p-sm {
    padding: 1em;
}

.p-md {
    padding: 2em;
}

.p-lg {
    padding: 3em;
}

.p-x-sm {
    padding: 0 1em;
}

.p-x-md {
    padding: 0 2em;
}

.p-x-lg {
    padding: 0 3em;
}

.p-y-sm {
    padding-top: 1em;
    padding-bottom: 1em;
}

.p-y-md {
    padding-top: 2em;
    padding-bottom: 2em;
}

.p-y-lg {
    padding-top: 4em;
    padding-bottom: 4em;
}

.p-y-xlg {
    padding-top: 6em;
    padding-bottom: 6em;
}

.p-top-md {
    padding-top: 3em;
}

.p-top-lg {
    padding-top:4em;
}

.p-top-xlg {
    padding-top: 6em;
}

.p-btm-sm {
    padding-bottom: 1em;
}

.p-btm-lg {
    padding-bottom: 3em;
}

.p-lft-sm {
    padding-left: 1em;
}

.m-x-sm {
    margin-left: 1em;
    margin-right: 1em;
}

.m-x-md {
    margin-left: 2em;
    margin-right: 2em;
}

.m-y-sm {
    margin-top: 1em;
    margin-bottom: 1em;
}

.m-y-md {
    margin-top: 2em;
    margin-bottom: 2em;
}

.m-btm-sm {
    margin-bottom: 1em;
}

.m-btm-md {
    margin-bottom: 2em;
}

hr {
    &.sm {
        display: inline-block;
        margin: 0 0 15px 0;
        width: 40px;
        height: 2px;
        border: 0;
        background: #ccc;
    }

    &.fw {
        display: block;
        margin: 1em 2em;
        width: 100%;
        height: 1px;
        border: 0;
        background: palegoldenrod;
    }
}

blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
     p {
        display: inline;
     }
}

.wmax-50 {
    max-width: 50px;
}

.wmax-200 {
    max-width: 200px;
}

.wmax-300 {
    max-width: 300px;
}

.wmax-800 {
    max-width: 800px;
}

.wmax-900 {
    max-width: 900px;
}

.wmin-200 {
    min-width: 200px;
}

.wmin-300 {
    min-width: 300px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.d-none {
    display: none !important;
}

.op-05 {
    opacity: 0.5;
}

.tint {
    filter: brightness(85%);
}

ul,
ol {
    li {
        position: relative;
        padding: 0.5em;
        list-style: none;
    }

    //PRETTY DISC OPTION BREAK THIS DOWN THOUGH IT'S NOT USED ON THE FIRST LAYOUT
    &.discs {
        list-style: none;

        li:before {
            content: " ";

            display: inline-block;
            position: relative;
            margin: 0 5px 0 0;
            width: 4px;
            height: 4px;
            border-radius: 11px;
            border: 4px solid #811a1d;
            background-color: #811a1d;
            opacity: 0.9;
        }
    }

    //PRETTY CIRCLE OPTION
    &.circles {
        list-style: none;

        li:before {
            content: " ";

            display: inline-block;
            position: relative;
            top: 2px;
            margin: 0 5px 0 0;
            width: 8px;
            height: 8px;
            border-radius: 11px;
            border: 4px solid #811a1d;
            background-color: transparent;
            opacity: 0.9;
        }
    }
}

.action_btn {
    display: block;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #222;
    background-color: #ccc;
    border:solid 0.25rem #222;
}