//A Simple Flex Box Grid Setup - Modified 4/9/2020
main,
header,
footer {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .col {
            display: flex;
            flex-direction: column;
            flex:1 1 auto;

            &.basis0 {
                flex-basis:0;
            }
            &.row-right {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: end;
            }
        }
    }
}


//almost sure we can get rid of this
// header {
//     .row {
//         .col {
//             flex:1 1 auto;
//         }
//     }
// }