* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    body {
        //decor the text selection process
        //scss mixin
        //for Firefox
        ::-moz-selection {
            background-color: #df591d; //scss var
            color: #fff; //scss var
        }

        //for Safari and Chrome
        ::selection {
            background-color: #df591d; //scss var
            color: #fff; //scss var
        }

        .title {

            //scss mixin because...
            //we can also so pen-cream and pen-white for other layout options
            &.pen-red {
                padding: 0 0 3rem 6rem;
                background: transparent url(../../../dist/images/pm_bg_pen_1916x1902.png) no-repeat;
                background-size: 100px 90px;

                h4 {
                    margin-left: 0.5rem;
                }
            }
            &.pen-cream {
                padding: 0 0 3rem 6rem;
                background: transparent url(../../../dist/images/pm_bg_pen_cream_500x472.png) no-repeat;
                background-size: 100px 90px;

                h4 {
                    margin-left: 0.5rem;
                }
            }
        }

        header {
            background-color: transparent;
        }

        main {
            .animate {
                &.redbooks {
                    background: #e9e8e1 url(../../../dist/images/pm_redbooks_1296x400.png) center right no-repeat;

                    //animation: name duration timing-function delay iteration-count direction fill-mode play-state;
                    //IE11 does not support animate.  IE11 styling is active in trump scss file
                    animation: animate-books linear 2s 1 normal forwards running;
                    animation-timing-function: cubic-bezier(1, .02, .66, .82);

                    @keyframes animate-books {
                        from {
                            background-position: 0 0;
                            opacity: 0;
                        }

                        to {
                            background-position: 47rem 0;
                            opacity: 1;
                        }
                    }
                }
            }

            //decor author testimonial
            .author-list {
                ul {

                    li {
                        position: relative;

                        img {
                            max-width: 100%;
                        }

                        blockquote {
                            p {
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: initial;
                            }
                        }
                    }
                }
            }
        }

        footer {

            //scss mixin
            background: repeating-linear-gradient(55deg,
                    #191919,
                    #191919 10px,
                    #222 5px,
                    #222 11px);
        }

        .scroll-top-btn {
            z-index: 9997;
            position: fixed;
            bottom: 1rem;
            right: 0;
            width: 2.75rem;
            height: 2.75rem;

            span {
                position: relative;
                left: 0.6em;
                top: 0.8em;
                display: inline-block;
                padding: 9px;
                border-width: 0 6px 6px 0;

                //135 points left | -135 points up | 47 points down | -47 points right   
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transition: 0.3s;
            }



            &:active {
                span {
                    border-color: orangered;

                    //this is a special case that cannot be broken up
                    //convert to mixin
                    animation: animate-scroll-bounce linear 0.2s 1 normal forwards running;

                    @keyframes animate-scroll-bounce {
                        0% {
                            top: 0.8em;
                        }

                        50% {
                            top: 0.5em;
                        }

                        80% {
                            top: 0.8em;
                        }

                        100% {
                            top: 0.8em;
                        }
                    }

                }
            }

            &.es-animate {

                animation: animate-scroll linear 0.2s 1 normal forwards running;

                @keyframes animate-scroll {
                    0% {
                        right: -1em;
                    }

                    50% {
                        right: 1em;
                    }

                    80% {
                        right: -1em;
                    }

                    100% {
                        right: 1em;
                    }
                }
            }
        }
    }
}