html {
    body {

        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        .animate-redbook {

            background: #e9e8e1 url(../../../dist/images/pm_redbooks_1296x400.png) 0px 0px no-repeat;
            background-position: right;

            //FOR IE11 HAVE BOOKS ALREADY ON THE RIGHT SIDE POSITIONED!

            //animation: name duration timing-function delay iteration-count direction fill-mode play-state;
            animation: animate-books linear 2s 1 normal forwards running;
            animation-timing-function: cubic-bezier(1, .02, .66, .82);

            @keyframes animate-books {
                from {
                    background-position: 0 0;
                    opacity: 0;
                }

                to {
                    background-position: 750px 0;
                    opacity: 1;
                }
            }
        }

        .txt-white {
            color:white;
        }

        .txt-red {
            color: #d81e06;
        }

        .logo-sm {
            width: 50px;
        }

        /* for Firefox */
        ::-moz-selection {
            background-color: #df591d;
            color: #fff;
        }

        /* for Safari and Chrome */
        ::selection {
            background-color: #df591d;
            color: #fff;
        }

        .title {

            &.pen {
                padding: 0 0 3em 6em;
                background: transparent url(../../../dist/images/pm_bg_pen_1916x1902.png) no-repeat;
                background-size: 100px 90px;
                background-position: left top;
            }

            h4 {
                margin: 0 0 0 0.5em;
                font-size: 1.3em;
                font-style: normal;
            }
        }

        .author-list {

            ul {
                -webkit-box-shadow: 0 15px 25px rgba(51, 51, 51, .15);
                -moz-box-shadow: 0 15px 25px rgba(51, 51, 51, .15);
                box-shadow: 0 15px 25px rgba(51, 51, 51, .15);

                li {
                    position: relative;

                    img {
                        max-width: 100%;
                        filter: brightness(85%); //use this for hover animation effects
                    }

                    h4 {
                        font-family: Helvetica, sans-serif;
                        font-weight: initial;
                        font-style: normal;
                        font-size: 1em;
                        color: #d81e06;
                    }

                    h5 {
                        font-size: 1.5em;
                    }

                    blockquote {
                        p {
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: initial;
                        }
                    }
                }
            }
        }

        footer {
            min-height:20em;
            background: repeating-linear-gradient(55deg,
                    #191919,
                    #191919 10px,
                    #222 5px,
                    #222 11px);
        }
    }
}