html {
    body {
        .animate-redbook {

            background: #fff url(../../../dist/images/pm_redbooks_1296x400.png) 0px 0px no-repeat;
            background-position: right;
      
            //animation: name duration timing-function delay iteration-count direction fill-mode play-state;
            animation: animate-books linear 2s 1 normal forwards running;
            animation-timing-function: cubic-bezier(1,.02,.66,.82);
            

            @keyframes animate-books {
                from {
                    background-position: 0 0;
                    opacity:0;
                }

                to {
                    background-position: 750px 0;
                    opacity:1;
                }
            }

        }
    }
}