//CUSTOM NAVIGATION MENUS

html {
    body {
        .hamburger {
            z-index: 9999;
            position: fixed;
            top: 0.5rem;
            right: 0.25rem;
            padding: 0.5rem 1rem;

            .top-menu-btn {

                padding: 0.25rem 0.75rem;
                opacity: 0.9;

                border-width: 1px;
                border-style: solid;
                border-color: transparent;
                border-radius: 0.5rem;

                transition: 0.3s;

                //the x inside the button on click
                &.es-clicked {
                    span.bars-white {

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            top: 0.15rem;
                            height: 0.1875rem;
                            margin: 0.4375rem 0;
                            border-radius: 1rem;
                            transition: all .2s ease-in-out;

                            //scss mixin
                            box-shadow:
                                0 0 0 0 #fff,
                                0 0 0 0 #fff;
                        }

                        &:after {
                            transform: translateY(6px) rotate(135deg);
                        }

                        &:before {
                            transform: translateY(6px) rotate(-135deg);
                        }
                    }
                }

                //the 3 lines inside the button
                span.bars-white {
                    position: relative;
                    display: inline-block;
                    width: 2rem;
                    height: 2.125rem;
                    vertical-align: middle;
                    background: no-repeat center center;
                    background-size: 100% 100%;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0.125rem;
                        left: 0;
                        right: 0;
                        width: 2rem;
                        height: 0.20rem;
                        background-color: #fff; //scss var

                        //scss mixin
                        box-shadow:
                            0 0.4em 0 0 #fff,
                            0 0.8em 0 0 #fff;

                        transition: all .2s ease-in-out;
                        transform: translateY(6px) rotate(0deg);
                    }
                }
            }
        }

        .bigmack {
            z-index: 9999;
            position: fixed;
            top: 5rem;
            right: 1.7rem;
            padding: 0;

            .generator-btn {
                z-index: 9999;
                padding: 0.25rem;
                opacity: 0.9;
                border: none;

                transition: 0.3s;

                &:focus {
                    outline-color: white;
                }

                span.colorbox {
                    position: relative;
                    display: inline-block;
                    width: 2rem;
                    height: 2.125rem;
                    vertical-align: middle;
                    background: no-repeat center center;
                    background-size: 100% 100%;
                }

                &.es-clicked {
                    opacity: 0.5;
                }
            }
        }

        .top-menu {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-style: solid;
            border-width: 0.5rem;

            &.es-bg-animate {

                background-image: url(../../../dist/images/pm_logo_294x178.png);
                background-position: center center;
                background-repeat: no-repeat;

                &.bg-grey-dark {
                    background-image: url(../../../dist/images/pm_logo_onblack_294x178.png);
                }

                //animation: name duration timing-function delay iteration-count direction fill-mode play-state;
                animation: animate-bg-in 1s 1 normal forwards;
                //animation-timing-function communicates with the above animation: ease-out;
                animation-timing-function: 1s cubic-bezier(.22, .33, 0, 1.02);

                @keyframes animate-bg-in {
                    0% {
                        background-position: 0;
                        opacity: 0;
                    }

                    100% {
                        background-position: center;
                        opacity: 1;
                    }
                }
            }

            .top-menu-nav {
                position: relative;
                right: 5rem;
                width: 100%;

                list-style: none;
                line-height: 1;
                text-align: right;

                a {
                    display: inline-block;
                    text-decoration: none;

                    &.after-bg-darkslate {

                        &:hover {
                            color: $red;
                            &::after {
                                width: 100%;
                            }
                        }

                        &:active {
                            color: $sandybrown;
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0.2rem;
                            text-align: right;
                            opacity: 0.7;
                            background: $darkslate;
                            transition: 300ms;
                        }
                    }
                    &.after-bg-darkslatev2 {

                        &:hover {
                            color: $saddlebrown;
                            &::after {
                                width: 100%;
                            }
                        }

                        &:active {
                            color: $grey-dark;
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0.2rem;
                            text-align: right;
                            opacity: 0.7;
                            background: $darkslate;
                            transition: 300ms;
                        }
                    }

                    &.after-bg-bisque {

                        &:hover {
                            color: $white;
                            &::after {
                                width: 100%;
                            }
                        }

                        &:active {
                            color: $tan;
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0.2rem;
                            text-align: right;
                            opacity: 0.7;
                            background: $bisque;
                            transition: 300ms;
                        }
                    }
                }
            }
        }

        .generator-menu {
            z-index: 9998;
            position: fixed;
            top: 4rem;
            right: -15em; //transition back to 0;
            width: 15rem;
            height: 15rem;
            background-color: white;
            border-style: solid;
            border-width: 0.5rem;

            &.es-animate {

                animation: animate-generator linear 0.5s 1 normal forwards;

                @keyframes animate-generator {
                    0% {
                        right: -15rem;
                    }

                    50% {
                        right: 1em;
                    }

                    80% {
                        right: -1em;
                    }

                    100% {
                        right: 0em;
                    }
                }
            }
        }
    }
}