<!DOCTYPE html>
<html lang="en" class="view01">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="_ac-child-stylesheet-css" href="/../dist/css/pm_bundle.css" type="text/css" media="all">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/../dist/other/favicon-16x16.png">
    <title>View 01 | Polished Manuscripts</title>
</head>

<body>
    <!--
        View 1 - https://auteur.g5plus.net/ 
        gfont - <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap" rel="stylesheet">
        font-family: 'Playfair Display', serif;

        View 2 - http://wpbingosite.com/wordpress/bootin/home-3/ 
        gfont - <link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">
        font-family: 'Peddana', sans-serif;
        
        View 3 - https://mindcare.qodeinteractive.com/
        gfont - <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">
        font-family: 'El Messiri', sans-serif;
        
        View 4 - http://kodeforest.net/wp-demo/bookclub/
        gfont - <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap" rel="stylesheet">
        font-family: 'Playfair Display', serif;
        
        View 5 - https://bebo.beautheme.com/blogs/
        gfont - <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        font-family: 'Ubuntu', sans-serif;

        Add placeholders where needed
        https://plchldr.co/
        i.e.
        <img src="https://plchldr.co/i/500x250" alt="plchldr.co">
        
        Create a pure CSS Tooltip and use it when needed
        https://www.bitdegree.org/learn/css-tooltip

        IE11 issues to pay attention to
        https://stackoverflow.com/a/30604836/957186

        Centering with Flex
        https://coryrylan.com/blog/how-to-center-in-css-with-flexbox


        For every layout, have the classes that switch backgrounds, colors, font families, font styles, font weights, font sizes, shadows, borders, images, onto the elements.  Everything else else can be managed by parent classes on elements.
        
    -->

    <div id="front-page">

        <nav class="hamburger">
            <button class="top-menu-btn fsize-125 bg-red border-grey03 txt-grey01 hover-red active-red" type="button">
                <span></span>
            </button>
        </nav>

        <header>
            <div class="row jc-center">
                <div class="col ai-center wmin-200">
                    <a class="mlink" title="Polished Manuscripts" href="#">
                        <img class="mimg wmax-200" src="/dist/images/P-M_Original_2000X2000-Trans-BG-768x662.png"
                            alt="Polished Manuscripts">
                    </a>
                </div>
            </div>
        </header>

        <main>

            <!--main navigation-->
            <section class="top-menu border-red shadow-inset">
                <div class="row">
                    <div class="col">
                        <ul class="top-menu-nav">
                            <li>
                                <h2><a class="fsize-2 txt-red" href="#">Services</a></h2>
                            </li>
                            <li>
                                <h2><a class="fsize-2 txt-red" href="#">About Me</a></h2>
                            </li>
                            <li>
                                <h2><a class="fsize-2 txt-red" href="#">Testimonials</a></h2>
                            </li>
                            <li>
                                <h2><a class="fsize-2 txt-red" href="#">Portfolio</a></h2>
                            </li>
                            <li>
                                <h2><a class="fsize-2 txt-red" href="#">Contact</a></h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!--main content begins...-->
            <section class="row bg-c-penguin shadow-fall animate redbooks">
                <div class="col wmin-300 wmax-800 p-md p-y-lg">
                    <h3>What is Polished Manuscripts?</h3>
                    <h4 class="p-x-lg">I help authors publish a can’t-put-it-down book by publishing their words until
                        the story they have always wanted to tell shines bright from each page.</h4>
                </div>
            </section>

            <section class="row jc-center">
                <div class="col ai-center p-top-xlg">
                    <div class="title pen-red">
                        <h3>Testimonials</h3>
                        <h4 class="fsize-13 txt-red">Reviews from Top Authors</h4>
                    </div>
                </div>
            </section>

            <section class="row wmax-900 jc-center p-btm-lg">
                <div class="col wmax-300 p-x-sm author-list">
                    <ul>
                        <li>
                            <img src="/dist/images/pm_author_headshot_luke_280x360.jpg" alt="">
                        </li>
                        <li>
                            <h4>Luke Narlee</h4>
                        </li>
                        <li>
                            <h5><a class="mlnk" href="https://www.amazon.com/This-Cant-Wait-Luke-Narlee/dp/B07JVHM1KD/">Author of I can't wait</a></h5>
                        </li>
                        <li>
                            <blockquote>
                                <p>" I've hired many editors over the years, and Haley is easily the best of the bunch. I never publish a new book until Haley has gone through it at least once. She’s an extremely talented editor; her attention to detail is incredible. It also doesn’t hurt that she is a wonderful human being. She’s always been kind, professional, and eager to help make my stories the best they can be. I look forward to hiring her again.
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                <div class="col wmax-300 p-x-sm author-list">
                    <ul class="shadow-box">
                        <li>
                            <img src="/dist/images/pm_author_headshot_julie_280x360.jpg" alt="">
                        </li>
                        <li>
                            <h4>Julie Bjelland</h4>
                        </li>
                        <li>
                            <h5><a class="mlnk" href="https://www.juliebjelland.com/books-overview">Author of The Empowered Highly Sensative Person</a></h5>
                        </li>
                        <li>
                            <blockquote>
                                <p>" Haley has been a wonderful editor. I have worked with Haley on several of my books, and she has become the person I turn to for help with any editing needs. She is organized and thorough, and she listens to my needs. She went above and beyond helping me on my latest book. I trust her to help me get my books to the place they need to be their best, and I highly recommend her!
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                <div class="col wmax-300 p-x-sm author-list">
                    <ul>
                        <li>
                            <img src="/dist/images/pm_author_headshot_dpk_280x360.jpg"
                                alt="">
                            </li>
                        <li>
                            <h4>David Paul Kirkpatrick</h4>
                        </li>
                        <li>
                            <h5><a class="mlnk" href="https://www.amazon.com/dog-David-Paul-Kirkpatrick/dp/1943785856/">Author of the dog</a></h5>
                        </li>
                        <li>
                            <blockquote>
                                <p>" As the former Story Editor of Paramount Pictures and as a former Production Chief of Walt Disney Studios, I have supervised thousands of screenplays, and adaptions of novels into films. If I had to do it all over again, my first hire would be Haley Hampton. She really knows her story stuff and has a strong and gentle manner in dealing with material AND the creative process that makes her fun and easy to work with. I could never ever recommend her highly enough. She is a jewel. For the last two years, she has helped our small publishing company work through twenty-four books. She is the real deal. I would be happy to talk to anyone about Haley. I have grown to respect her beyond measure.
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <footer class="p-y-lg">
            <div class="row wmax-900 jc-center">
                <div class="col ai-center p-top-md title">
                    <img class="img flex wmax-50" src="/dist/images/pm_logo_onblack_294x178.png" alt="">
                    <h3 class="txt-white">Contact Me</h3>
                    
                </div>
            </div>
            <div class="row wmax-900">
                <div class="col ai-center wmax-300">
                    <h4 class="txt-white p-btm-sm txt-red">Connect</h4>
                    <ul class="flex txt-white">
                        <li><a class="font-reset txt-white" href="mailto:Haley@polishedmanuscripts.com">Haley@polishedmanuscripts.com</a></li>
                    </ul>
                   
                </div>
                <div class="col ai-center wmax-300">
                    <h4 class="txt-white p-btm-sm txt-red">Social</h4>
                    <ul class="flex txt-white">
                        <li><a class="icon facebook font-reset txt-white" href="#">Facebook</a></li>
                        <li><a class="icon linkedIn font-reset txt-white" href="#">LinkedIn</a></li>
                        <li><a class="icon twitter font-reset txt-white" href="#">Twitter</a></li>
                    </ul>
                </div>
                <div class="col ai-center wmax-300">
                    <h4 class="txt-white p-btm-sm txt-red">Contact</h4>
                    <a class="action_btn font-reset" href="#">Contact Form</a>
                </div>
            </div>
        </footer>
    </div>

    <!--CSS to fix this button and fade in if we are scrolled down enough-->
    <a href="#" class="scroll-top-btn bg-grey" title="Scroll Up"><span></span></a>

    <script src="/../dist/scripts/pm_bundle.js"></script>
</body>

</html>