<!DOCTYPE html>
<html lang="en" class="view01">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="_ac-child-stylesheet-css" href="/../dist/css/pm_bundle.css" type="text/css" media="all">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/../dist/other/favicon-16x16.png">
    <title>View 01 | Polished Manuscripts</title>
</head>

<body>
    <!--
        View 1 - https://auteur.g5plus.net/ 
        gfont - <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap" rel="stylesheet">
        font-family: 'Playfair Display', serif;

        View 2 - http://wpbingosite.com/wordpress/bootin/home-3/ 
        gfont - <link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">
        font-family: 'Peddana', sans-serif;
        
        View 3 - https://mindcare.qodeinteractive.com/
        gfont - <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">
        font-family: 'El Messiri', sans-serif;
        
        View 4 - http://kodeforest.net/wp-demo/bookclub/
        gfont - <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap" rel="stylesheet">
        font-family: 'Playfair Display', serif;
        
        View 5 - https://bebo.beautheme.com/blogs/
        gfont - <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        font-family: 'Ubuntu', sans-serif;

        Add placeholders where needed
        https://plchldr.co/
        i.e.
        <img src="https://plchldr.co/i/500x250" alt="plchldr.co">
        
        Create a pure CSS Tooltip and use it when needed
        https://www.bitdegree.org/learn/css-tooltip

        IE11 issues to pay attention to
        https://stackoverflow.com/a/30604836/957186

        Centering with Flex
        https://coryrylan.com/blog/how-to-center-in-css-with-flexbox

        For every layout, have the classes that switch backgrounds, colors, font families, font styles, font weights, font sizes, shadows, borders, images, onto the elements.  Everything else else can be managed by parent classes on elements.
    -->

    <div id="front-page">
        <!--fixed hamburger button-->
        <nav class="hamburger">
            <button class="top-menu-btn fsize-125 bg-red border-grey txt-grey hover-red active-red" type="button">
                <span class="bars-white"></span>
            </button>
        </nav>

        <!--fixed generator button-->
        <nav class="bigmack">
            <button class="generator-btn fsize-125 shadow-box-dark bg-darksalmon border-grey txt-grey hover-red active-red" type="button">
                <span class="colorbox"></span>
            </button>
        </nav>

        <header>
            <!--header-->
            <div class="row jc-center">
                <div class="col ai-center wmin-200">
                    <a title="Polished Manuscripts" href="#">
                        <img class="wmax-200" src="/dist/images/P-M_Original_2000X2000-Trans-BG-768x662.png" alt="Polished Manuscripts">
                    </a>
                </div>
            </div>
        </header>

        <main>
            <!--fixed top menu-->
            <section class="top-menu border-red shadow-inset hidden">
                <div class="row">
                    <div class="col">
                        <ul class="top-menu-nav">
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslategrey" href="#">Services</a></h4>
                            </li>
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslategrey" href="#">About Me</a></h4>
                            </li>
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslategrey" href="#">Testimonials</a></h4>
                            </li>
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslategrey" href="#">Portfolio</a></h4>
                            </li>
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslategrey" href="#">Contact</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!--fixed color options menu-->
            <section class="generator-menu border-red shadow-fall">
                <div class="row">
                    <div class="col">
                         <p class="p-sm ffam-arial fsize-08">Please select from one of the layout options below.</p>
                         <select class="select-options m-sm" id="mlayouts">
                            <option value="none">--Select--</option>
                            <option class="base" value="base">Base</option>
                            <option class="cream" value="cream">Cream</option>
                            <option class="darknight" value="darknight">Dark Night</option>
                           </select>
                    </div>
                </div>
            </section>

            <!--what is Polished Manuscripts...-->
            <section class="intro row bg-floralwhite shadow-fall animate redbooks bg-whitesmoke">
                <div class="col wmin-300 wmax-800 p-md p-y-lg txt-center">
                    <h3 class="fstyle-italic fweight-800 txt-grey-dark">What is Polished Manuscripts?</h3>
                    <h5 class="p-x-lg fstyle-italic fweight-500 txt-grey-dark">I help authors publish a can’t-put-it-down book by publishing their words until
                        the story they have always wanted to tell shines bright from each page.</h5>
                </div>
            </section>

            <!--testimonial title-->
            <section class="testimonial-title row jc-center">
                <div class="col ai-center p-top-lg txt-center">
                    <div class="title pen-red">
                        <h3 class="txt-grey-dark">Testimonials</h3>
                        <h6 class="p-lft-sm fstyle-italic fweight-400 txt-red">Reviews from Published Authors</h6>
                    </div>
                </div>
            </section>  

            <!--testimonials-->
            <section class="testimonials row wmax-900 jc-center p-btm-lg">
                <!--David-->
                <div class="author-list col wmax-300 p-x-sm">
                    <ul class="shadow-box">
                        <li>
                            <img class="tint" src="/dist/images/pm_author_headshot_dpk_280x360.jpg" alt="">
                        </li>
                        <li>
                            <h6 class="fweight-500 txt-red">David Paul Kirkpatrick</h6>
                        </li>
                        <li>
                            <h4>
                                <a class="trans fweight-bold txt-grey-dark txt-dec-white hover-txt-red active-txt-red"
                                    href="https://www.amazon.com/dog-David-Paul-Kirkpatrick/dp/1943785856/">Author of
                                    the dog</a>
                                </h4>
                        </li>
                        <li>
                            <blockquote class="border-left-grey-light">
                                <p class="txt-grey-dark lh-125">" As the former Story Editor of Paramount Pictures and as a former Production Chief
                                    of Walt Disney Studios, I have supervised thousands of screenplays, and adaptions of
                                    novels into films. If I had to do it all over again, my first hire would be Haley
                                    Hampton. She really knows her story stuff and has a strong and gentle manner in
                                    dealing with material AND the creative process that makes her fun and easy to work
                                    with. I could never ever recommend her highly enough. She is a jewel. For the last
                                    two years, she has helped our small publishing company work through twenty-four
                                    books. She is the real deal. I would be happy to talk to anyone about Haley. I have
                                    grown to respect her beyond measure.
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                <!--Luke-->
                <div class="author-list col wmax-300 p-x-sm">
                    <ul class="shadow-box">
                        <li>
                            <img class="tint" src="/dist/images/pm_author_headshot_luke_280x360.jpg" alt="">
                        </li>
                        <li>
                            <h6 class="fweight-500 txt-red">Luke Narlee</h6>
                        </li>
                        <li>
                            <h4><a class="trans fweight-bold txt-grey-dark txt-dec-white hover-txt-red active-txt-red"
                                    href="https://www.amazon.com/This-Cant-Wait-Luke-Narlee/dp/B07JVHM1KD/">Author of I
                                    can't wait</a></h4>
                        </li>
                        <li>
                            <blockquote class="border-left-grey-light">
                                <p class="txt-grey-dark lh-125">" I've hired many editors over the years, and Haley is easily the best of the bunch.
                                    I never publish a new book until Haley has gone through it at least once. She’s an
                                    extremely talented editor; her attention to detail is incredible. It also doesn’t
                                    hurt that she is a wonderful human being. She’s always been kind, professional, and
                                    eager to help make my stories the best they can be. I look forward to hiring her
                                    again.
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                <!--Julie-->
                <div class="author-list col wmax-300 p-x-sm">
                    <ul class="shadow-box">
                        <li>
                            <img class="tint" src="/dist/images/pm_author_headshot_julie_280x360.jpg" alt="">
                        </li>
                        <li>
                            <h6 class="fweight-500 txt-red">Julie Bjelland</h6>
                        </li>
                        <li>
                            <h4><a class="trans fweight-bold txt-grey-dark txt-dec-white hover-txt-red active-txt-red" href="https://www.juliebjelland.com/books-overview">Author of The
                                    Empowered Highly Sensitive Person</a></h4>
                        </li>
                        <li>
                            <blockquote class="border-left-grey-light">
                                <p class="txt-grey-dark lh-125">" Haley has been a wonderful editor. I have worked with Haley on several of my books,
                                    and she has become the person I turn to for help with any editing needs. She is
                                    organized and thorough, and she listens to my needs. She went above and beyond
                                    helping me on my latest book. I trust her to help me get my books to the place they
                                    need to be their best, and I highly recommend her!
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </section>
        </main>


        <footer class="p-top-lg bg-dark-lines">
            <!--contact title-->
            <div class="row wmax-900 jc-center p-btm-sm">
                <div class="title col ai-center">
                    <img class="img flex wmax-50" src="/dist/images/pm_logo_onblack_294x178.png" alt="">
                    <h3 class="txt-white">Contact Me</h3>
                </div>
            </div>
            <!--footer sections-->
            <div class="row wmax-900 p-btm-sm">
                <!--connect-->
                <div class="connect col ai-center">
                    <ul class="flex dir-col">
                        <li><h5 class="txt-white p-btm-sm txt-red">Email</h5></li>
                        <li><a class="lnk trans hover-txt-red icon txt-white"
                                href="mailto:Haley@polishedmanuscripts.com">Haley@polishedmanuscripts.com</a>
                        </li>
                    </ul>
                </div>
                <!--social media-->
                <div class="social col ai-center">
                    <ul>
                        <li><h5 class="txt-white p-btm-sm txt-red">Social</h5></li>
                        <li><a class="lnk trans hover-txt-red icon txt-white" href="#">Facebook</a></li>
                        <li><a class="lnk trans hover-txt-red icon txt-white" href="#">LinkedIn</a></li>
                        <li><a class="lnk trans hover-txt-red icon txt-white" href="#">Twitter</a></li>
                    </ul>
                </div>
                <!--contact-->
                <div class="contact col ai-center">
                    <ul>
                        <li><h5 class="txt-white p-btm-sm txt-red">Contact</h5></li>
                        <li><a class="trans btn font-reset p-sm hover-dark active-border-white" href="#">Contact Form</a></li>
                    </ul>
                </div>
            </div>
            <!--footer copy-->
            <div class="copy row">
                <div class="col bg-grey-dark txt-grey">
                    <p class="p-sm">Copyright &copy; 2019 Polished Manuscripts | <a class="txt-white" href="https://www.polishedmanuscripts.com">www.polishedmanuscripts.com</a></p>
                </div>
            </div>
        </footer>

        <!--fixed scroll top button-->
        <a href="#" class="scroll-top-btn op-05 d-none bg-grey hover-child-goldenrod" title="Scroll Up"><span class="border-white"></span></a>
    </div>
    <script src="/../dist/scripts/pm_bundle.js"></script>
</body>

</html>