<!DOCTYPE html>
<html lang="en" class="view">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" id="_ac-child-stylesheet-css" href="css/pm_bundle.css" type="text/css" media="all">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="shortcut icon" href="other/favicon-16x16.png">
    <title>Polished Manuscripts | Layouts</title>
</head>

<body>
  
    <div id="front-page">
        <!--fixed hamburger button-->
        <nav class="hamburger">
            <button class="top-menu-btn fsize-125 bg-red border-grey txt-grey hover-red active-red" type="button">
                <span class="bars-white"></span>
            </button>
        </nav>

        <!--fixed generator button-->
        <nav class="bigmack">
            <button
                class="generator-btn fsize-125 shadow-box-dark bg-darksalmon border-grey txt-grey hover-red active-red"
                type="button">
                <span class="colorbox"></span>
            </button>
        </nav>

        <header>
            <!--header-->
            <div class="row jc-center">
                <div class="col ai-center wmin-200">
                    <a title="Polished Manuscripts" href="#">
                        <img class="wmax-200" src="images/pm_logo_trans_768x662.png" alt="Polished Manuscripts">
                    </a>
                </div>
            </div>
        </header>

        <main>
            <!--fixed top menu-->
            <section class="top-menu border-red bg-white shadow-inset trans-opt-0">
                <div class="row">
                    <div class="col">
                        <ul class="trans top-menu-nav">
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslate" href="#">Services</a>
                                </h4>
                            </li>
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslate" href="#">About Me</a>
                                </h4>
                            </li>
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslate" href="#">Testimonials</a></h4>
                            </li>
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslate" href="#">Portfolio</a>
                                </h4>
                            </li>
                            <li>
                                <h4><a class="trans txt-red fweight-400 after-bg-darkslate" href="#">Contact</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!--fixed color options menu-->
            <section class="generator-menu border-red shadow-fall">
                <div class="row">
                    <div class="col">
                        <p class="wmax-150 p-sm ffam-arial fsize-08">Please select a color scheme below</p>
                        <select class="select-options m-sm" id="mlayouts">
                            <option class="white" value="white">White</option>
                            <option class="paleGoldenrod" value="paleGoldenrod">Pale Goldenrod</option>
                            <option class="tan" value="tan">Tan</option>
                            <option class="darkGrey" value="darkGrey">Dark Grey</option>
                        </select>
                    </div>
                </div>
            </section>

            <!--what is Polished Manuscripts...-->
            <section class="intro row bg-floralwhite shadow-fall animate redbooks bg-whitesmoke">
                <div class="col wmin-300 wmax-800 p-md p-y-lg txt-center">
                    <h3 class="fstyle-italic fweight-800 txt-grey-dark">What is Polished Manuscripts?</h3>
                    <h5 class="p-x-lg fstyle-italic fweight-500 txt-grey-dark">I help authors publish a
                        can’t-put-it-down book by publishing their words until
                        the story they have always wanted to tell shines bright from each page.</h5>
                </div>
            </section>

            <!--testimonial title-->
            <section class="testimonial-title row jc-center">
                <div class="col ai-center p-top-lg txt-center">
                    <div class="title pen-red">
                        <h3 class="txt-grey-dark">Testimonials</h3>
                        <h6 class="p-lft-sm fstyle-italic fweight-400 txt-red">Reviews from Published Authors</h6>
                    </div>
                </div>
            </section>

            <!--testimonials-->
            <section class="testimonials row wmax-900 jc-center p-btm-lg">
                <!--David-->
                <div class="author-list col wmax-300 p-x-sm">
                    <ul class="shadow-box">
                        <li>
                            <img class="tint" src="images/pm_author_headshot_dpk_280x360.jpg" alt="">
                        </li>
                        <li>
                            <h6 class="fweight-500 txt-red">David Paul Kirkpatrick</h6>
                        </li>
                        <li>
                            <h4>
                                <a class="trans fweight-bold txt-grey-dark txt-dec-white hover-txt-red active-txt-red"
                                    href="https://www.amazon.com/dog-David-Paul-Kirkpatrick/dp/1943785856/">Author of
                                    the dog</a>
                            </h4>
                        </li>
                        <li>
                            <blockquote class="border-left-grey-light">
                                <p class="txt-grey-dark lh-125">" As the former Story Editor of Paramount Pictures and
                                    as a former Production Chief
                                    of Walt Disney Studios, I have supervised thousands of screenplays, and adaptions of
                                    novels into films. If I had to do it all over again, my first hire would be Haley
                                    Hampton. She really knows her story stuff and has a strong and gentle manner in
                                    dealing with material AND the creative process that makes her fun and easy to work
                                    with. I could never ever recommend her highly enough. She is a jewel. For the last
                                    two years, she has helped our small publishing company work through twenty-four
                                    books. She is the real deal. I would be happy to talk to anyone about Haley. I have
                                    grown to respect her beyond measure.
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                <!--Luke-->
                <div class="author-list col wmax-300 p-x-sm">
                    <ul class="shadow-box">
                        <li>
                            <img class="tint" src="images/pm_author_headshot_luke_280x360.jpg" alt="">
                        </li>
                        <li>
                            <h6 class="fweight-500 txt-red">Luke Narlee</h6>
                        </li>
                        <li>
                            <h4><a class="trans fweight-bold txt-grey-dark txt-dec-white hover-txt-red active-txt-red"
                                    href="https://www.amazon.com/This-Cant-Wait-Luke-Narlee/dp/B07JVHM1KD/">Author of I
                                    can't wait</a></h4>
                        </li>
                        <li>
                            <blockquote class="border-left-grey-light">
                                <p class="txt-grey-dark lh-125">" I've hired many editors over the years, and Haley is
                                    easily the best of the bunch.
                                    I never publish a new book until Haley has gone through it at least once. She’s an
                                    extremely talented editor; her attention to detail is incredible. It also doesn’t
                                    hurt that she is a wonderful human being. She’s always been kind, professional, and
                                    eager to help make my stories the best they can be. I look forward to hiring her
                                    again.
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                <!--Julie-->
                <div class="author-list col wmax-300 p-x-sm">
                    <ul class="shadow-box">
                        <li>
                            <img class="tint" src="images/pm_author_headshot_julie_280x360.jpg" alt="">
                        </li>
                        <li>
                            <h6 class="fweight-500 txt-red">Julie Bjelland</h6>
                        </li>
                        <li>
                            <h4><a class="trans fweight-bold txt-grey-dark txt-dec-white hover-txt-red active-txt-red"
                                    href="https://www.juliebjelland.com/books-overview">Author of The
                                    Empowered Highly Sensitive Person</a></h4>
                        </li>
                        <li>
                            <blockquote class="border-left-grey-light">
                                <p class="txt-grey-dark lh-125">" Haley has been a wonderful editor. I have worked with
                                    Haley on several of my books,
                                    and she has become the person I turn to for help with any editing needs. She is
                                    organized and thorough, and she listens to my needs. She went above and beyond
                                    helping me on my latest book. I trust her to help me get my books to the place they
                                    need to be their best, and I highly recommend her!
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </section>
        </main>


        <footer class="p-top-lg bg-dark-lines">
            <!--contact title-->
            <div class="row wmax-900 jc-center p-btm-sm">
                <div class="title col ai-center">
                    <img class="img flex wmax-50" src="images/pm_logo_onblack_294x178.png" alt="">
                    <h3 class="txt-white">Contact Me</h3>
                </div>
            </div>
            <!--footer sections-->
            <div class="row wmax-900 p-btm-sm">
                <!--connect-->
                <div class="connect col basis0 wmin-300 ai-center jc-start">
                    <ul class="flex dir-col">
                        <li>
                            <h5 class="txt-white p-btm-sm txt-red">Email</h5>
                        </li>
                        <li><a class="lnk trans hover-txt-red icon txt-white"
                                href="mailto:Haley@polishedmanuscripts.com">Haley@polishedmanuscripts.com</a>
                        </li>
                    </ul>
                </div>
                <!--social media-->
                <div class="social col basis0 wmin-300 ai-center jc-center">
                    <ul>
                        <li>
                            <h5 class="txt-white p-btm-sm txt-red">Social</h5>
                        </li>
                        <li><a class="trans fab fa-facebook-f txt-white" href="#"></a></li>
                        <li><a class="trans fab fa-linkedin-in txt-white" href="#"></a></li>
                        <li><a class="trans fab fa-twitter txt-white" href="#"></a></li>
                    </ul>
                </div>
                <!--contact-->
                <div class="contact col basis0 wmin-300 ai-center jc-center">
                    <ul>
                        <li>
                            <h5 class="txt-white p-btm-sm txt-red">Contact</h5>
                        </li>
                        <li><a class="trans btn font-reset p-sm hover-dark active-border-white" href="#">Contact
                                Form</a></li>
                    </ul>
                </div>
            </div>
            <!--footer copy-->
            <div class="copy row">
                <div class="col bg-grey-dark txt-grey">
                    <p class="p-sm">Copyright &copy; 2019 Polished Manuscripts | <a class="txt-white"
                            href="https://www.polishedmanuscripts.com">www.polishedmanuscripts.com</a></p>
                </div>
            </div>
        </footer>

        <!--fixed scroll top button-->
        <a href="#" class="scroll-top-btn op-05 d-none bg-grey hover-child-goldenrod" title="Scroll Up"><span
                class="border-white"></span></a>
    </div>
    <script src="scripts/pm_bundle.js"></script>
</body>

</html>