<!DOCTYPE html>
<html lang="en" class="view01">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="_ac-child-stylesheet-css" href="/../dist/css/pm_bundle.css" type="text/css" media="all">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
        rel="stylesheet">
    <title>Training Image Grid | Responsive Image Grid</title>
</head>

<body>
    <!--
        Udemy - https://www.udemy.com/course/css3-flexbox-course-build-5-real-flexible-layouts/learn/lecture/15965480#questions

        Add placeholders where needed
        https://plchldr.co/
        i.e.
        <img src="https://plchldr.co/i/500x250" alt="plchldr.co">
        
        Create a pure CSS Tooltip and use it when needed
        https://www.bitdegree.org/learn/css-tooltip

        IE11 issues to pay attention to
        https://stackoverflow.com/a/30604836/957186

    -->

    <div id="front-page">

        <!--
        original header styling....
        position:relative;
        z-index:9999;

        on scroll down, add a class to do the following.  remove that class when we scroll back to the top of the page after a 1 second delay to animate it back to normal.
        position:fixed;
        left:0;
        right:0;
        margin:auto;

        on scroll down, fade in the drop shadow. when back at the very top, fade out the drop shadow

        when we scroll down just a little bit, use CSS3 to animate the height slightly shorter.
        when we scroll back up to the very top, add class to animate the height back to normal.
        in both cases, the logo renames the same height!!

        When hovering over the hamburger icon, fade in the hover color and fade it out

        set main content for books, and "what is the purpose" to have a background color of #696969
    
        set next row in main content focused on testimonies, to have a white bg again.

        back to top has the following styling...but look over my store site for finer details

            .back-to-top {
            position: fixed;
            -webkit-backface-visibility: visible;
            -moz-backface-visibility: visible;
            -o-backface-visibility: visible;
            -ms-backface-visibility: visible;
            backface-visibility: visible;
            bottom: 10px;
            right: 10px;
            width: 44px;
            height: 44px;
            text-align: center;
            z-index: 2;
            -webkit-transform: translateX(100px);
            -moz-transform: translateX(100px);
            -ms-transform: translateX(100px);
            -o-transform: translateX(100px);
            transform: translateX(100px);
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            color: #fff;
            background-color: #666;
    
    -->
        <header>
            <div class="row top">
                <div class="col items-center border">
                    <h3>Flexbox Image Grid </h3>
                    <p>Resize the grid system of images</p>
                </div>
            </div>
        </header>

        <main class="m-y-md">

            <section class="row">
                <div class="col">
                    <!--change the height of col by adjusting max-width | this will change the height of our images-->
                    <img class="img flex" src="https://plchldr.co/i/200x200" alt="plchldr.co">
                </div>
             
            </section>

        </main>
        <footer>
            <div class="row">
                <div class="col items-center">
                    <div class="closing wmax-900 p-y-sm">
                        <p class="txt-white p-sm">
                            Thank you for visiting our web site. Content is updated on a regular basis so please visit
                            back.
                        </p>

                        <h4 class="txt-white p-sm">
                            Polished Manuscripts | Phone Number | Email Address
                        </h4>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!--CSS to fix this button and fade in if we are scrolled down enough-->
    <a href="#" class="scroll-top-btn" title="Scroll Up">Top btn</a>

    <script src="/../dist/scripts/pm_bundle.js"></script>
</body>

</html>