//_ac - IE11 SENSITIVE NEEDS

@media all and (-ms-high-contrast: none) and (max-width: 2000px),
all and (-ms-high-contrast: active) and (max-width: 2000px) {
    html {
        body {
            .animate-redbook {
                background-position: 750px 0;
            }
            .wmax-900 {
                max-width:996px;
            }

            .author-list {
                ul {
                    max-width:300px;
                }
            }
        }
    }
}