//_ac - IE11 SENSITIVE NEEDS

@media all and (-ms-high-contrast: none) and (max-width: 2000px),
all and (-ms-high-contrast: active) and (max-width: 2000px) {
    html {
        body {
            main {

                .wmax-900 {
                    max-width: 996px;
                }

                .animate {
                    &.redbooks {
                        background-position: 50rem 0;
                    }
                }
                .author-list {
                    ul {
                        max-width: 300px;
                    }
                }
            }

            footer {
                .wmax-900 {
                    max-width: 900px;
                }
            }
        }
    }
}